.display-div {
  border-top: 1px solid lightgray;
  width: 700px;

  .types-div > p:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  p.p-active {
    font-weight: bold;
    text-decoration: overline;
  }

  .book-delete{ 
    display: flex;
    align-items: center;
    justify-content: space-between;

    .delBook:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .custom-dates-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .dates-div {
      display: flex;

      align-items: center;
      .select-date {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
    }

    .btn-div {
      margin-top: 10px;
      display: flex;
      align-items: center;
    }
  }

  @media only screen and (max-width: 600px) {
    width: 100vw;

    .custom-dates-select {
      width: 300px;
      .dates-div {
        flex-direction: column;
        .select-date {
          flex-direction: column;
          align-items: center;
        }

        input {
          text-align: center;
        }
      }
    }
  }
}
