html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans Condensed";
  font-size: 17px;
  padding: 10px 0;
  background-color: #f8f9fa;
}

p {
  margin: 0;
}



* {
  box-sizing: border-box;
}
