$sub-color: grey;

.list-form {
  width: 400px;
}
.react-datepicker-wrapper {
  // width: 100%;

  input {
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px solid gray;
  }
  input:hover{
    cursor: pointer;
  }
}
.select-css {
  height: 45px;
  border:none;
  border-bottom: 1px solid gray;
}

.select-css:focus{
  outline: none;
}
textarea {
  width: 100%;
}
textarea:focus {
  outline: none;
}
