.list-book-div {
  display: flex;
  flex-direction: column;


  @media only screen and (max-width: 600px) {
    .title {
      margin-top: 20px;
      color:white;
      font-weight: bold;
    }


  }
}
