.review-div {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .book-image-title {
    display: flex;
    align-items: center;

    .review-book-image {
      width: 100px;
    }
  }

  @media screen and (max-width: 600px) {
    width: 100vw;
    padding: 20px;
    button{
        margin: auto;
    }
  }
}
