.link {
  cursor: pointer;
  text-decoration: none;
  color: rgb(44, 44, 44);
  margin-right: 20px;
  padding-bottom: 5px;
}

.dropdown > a {
  color: rgb(44, 44, 44) !important;

}

.link:hover {
  text-decoration: none;
  color: rgb(44, 44, 44);
  opacity: 0.6;
}

.active {
  text-decoration: overline;
  font-weight: bold;
}

button:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
